<!DOCTYPE html>
<html>
<head>
    <title>webmux</title>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fonts/source-code-pro/source-code-pro.css">
    <link rel="icon" href="/static/img/logo.png"/>

    <script src="/static/js/libs/jquery-2.1.0.min.js"></script>
    <script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
